* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Infant", serif;
  color: #fff;
}

p {
  color: #fff;
}

body {
  background-color: #000;
}

.section1 {
  background-color: #000;
  height: auto;
}

a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
}

ul {
  display: flex;
  gap: 40px;
}
li {
  list-style-type: none;
}
li a {
  color: #fff;
  font-size: 30px;
}

.logo a {
  font-size: 60px;
  color: #fff;
}

.section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.section-inner h1 {
  font-size: 80px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 70px;
}

.sec1-txt {
  font-size: 40px;
}

.sec1-map {
  margin-top: 50px;
}

.footer {
  display: flex;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-bottom: 50px;
}

.footer-text {
  font-size: 35px;
}

.footer-logo {
  font-size: 50px;
}

.footer-text p {
  margin-top: 50px;
  font-size: 26px;
}
