* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Infant", serif;
  color: #fff;
}

p {
  color: #fff;
}

body {
  background-color: #000;
}

.section1 {
  background-image: url(images/event_bg.png);
  height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
}

ul {
  display: flex;
  gap: 40px;
}
li {
  list-style-type: none;
}
li a {
  color: #fff;
  font-size: 30px;
}

.logo a {
  font-size: 60px;
  color: #fff;
}

.section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 940px;
}

.section-inner h1 {
  font-size: 120px;
  font-weight: 100;
  color: #fff;
}

.section2 {
  display: flex;
  justify-content: center;
}

.event-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 200px;
}

.birthday-block,
.dessert-block {
  display: flex;
  align-items: center;
  width: 1100px;
  justify-content: space-between;
}

.dessert-block {
  flex-direction: row-reverse;
}

.birth-txt-block,
.dessert-txt-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.birth-txt-block p,
.dessert-txt-block p {
  margin-bottom: 50px;
  font-size: 40px;
}

.birth-txt-block a,
.dessert-txt-block a {
  background-color: #fff;
  color: #000;
  padding: 10px 35px;
  font-size: 40px;
}

.birthday-block img,
.dessert-block img {
  width: 500px;
}

.footer {
  display: flex;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-bottom: 50px;
}

.footer-text {
  font-size: 35px;
}

.footer-logo {
  font-size: 50px;
}

.footer-text p {
  margin-top: 50px;
  font-size: 26px;
}
